/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.clock, .static-content {
  padding: 20px;
  box-sizing: border-box;
}

.landingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%; 
  flex-grow: 1; 
}

.login, .register {
  background-color: #ffffff;
  border: 1px solid #6a1b9a;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}


