.register-button {
    padding: 10px;
    border: 1px solid #d3d3d3;
    background-color: #f0f0f0;
    color: #6c757d;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.register-button:hover {
    background-color: #d3d3d3;
}

.register-field {
    padding: 10px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}
